<div class="box">
  <div class="box-title">
    Upload Employees
  </div>
  <div class="box-content nopadding">
    <%= form_tag(uploads_employees_path, :multipart => true, :class => 'form-horizontal') do %>
      <div class="control-group">
        <label class="control-label">Batch Create</label>
        <div class="controls">
          <%= file_field_tag :csv %>
          <span class="help-inline">.csv (comma separated values) format file with the headers: Status, Team, Nick Name, Full Legal Name, Email, Start Date</span>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            <i class='icon-circle-arrow-up icon-white'></i> Upload
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>